* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.section__ingreso {
  background-color: #1e1e1e;
  height: 100vh;
  color: whitesmoke;
}
.section__ingreso--container {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  text-align: center;
}
.section__ingreso--title {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.botones {
  text-decoration: none;
  background-color: #117a5c;
  height: 2rem;
  width: 6rem;
  border-radius: 0.5rem;
  color: whitesmoke;
}
.botones a {
  text-decoration: none;
  color: whitesmoke;
}
.botones a:hover {
  color: whitesmoke;
  font-weight: bold;
}
.section__ingreso--title span {
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.section__sucursal--container {
  padding-top: 12rem;
  display: flex;
  justify-content: space-between;
  width: 50rem;
}
.section__container--botton {
  display: flex;
  justify-content: center;
  height: 3rem;
  margin: 0 3rem;
}
.section__img img {
  object-fit: contain;
  height: 20rem;
}
/* financiacion */
.section__financiacion {
  font-family: "Roboto", sans-serif;
}
.section__tabla {
  padding-bottom: 2rem;
}
.section__botones {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding-top: 1rem;
}
.prueba {
  display: flex;
}
.section__titulos {
  text-align: center;
  font-weight: bold;
  padding-bottom: 1rem;
}
.section__precio {
  padding-bottom: 2rem;
}
.section__precio--color input {
  color: whitesmoke;
  background-color: #117a5c;
}
.section__memoria {
  background-color: white;
  height: 20rem;
  width: 100%;
}
select {
  color: whitesmoke;
  background-color: #117a5c;
  border-radius: 0.3rem;
  padding: 5px 5px;
}
option {
  color: whitesmoke;
  background-color: #117a5c;
}
